# Data Type and stuctures

1. What are data structures, and why are they important?

- They are ways to organize and store data, like lists, tuples, sets, and dictionaries. They’re important because they make it easier to handle and process data.

2. Explain the difference between mutable and immutable data types with examples.

- Mutable: can be changed (e.g., list → [1,2,3] → change to [1,5,3]).

 Immutable: can’t be changed (e.g., tuple → (1,2,3) stays the same).

3. What are the main differences between lists and tuples in Python?

- Lists → mutable (can change).

 Tuples → immutable (cannot change).

 Lists use [], tuples use ().

4. Describe how dictionaries store data.

- They store data as key-value pairs, like {“name”: “John”, “age”: 16}.

5. Why might you use a set instead of a list in Python?

- Because sets remove duplicates automatically and are faster for checking if something exists.

6. What is a string in Python, and how is it different from a list?

- A string is text like "hello". A list is a collection of items [1, "hi", 3]. Strings are immutable, but lists are mutable.

7. How do tuples ensure data integrity in Python?

- Since tuples can’t be changed, the data inside them stays safe and consistent.

8. What is a hash table, and how does it relate to dictionaries in Python?

- A hash table is a structure that stores data using a hash function. Dictionaries in Python use hash tables to quickly find values by their keys.

9. Can lists contain different data types in Python?

- Yes! A list can have numbers, strings, and even other lists together, like [1, "hi", 3.5].

10. Explain why strings are immutable in Python.

- Because once you create a string, Python doesn’t let you change it — you have to make a new string instead.

11. What advantages do dictionaries offer over lists for certain tasks?

- Dictionaries are faster to find values using keys, while in lists you might have to search through everything.

12. Describe a scenario where using a tuple would be preferable over a list.

- If you want to store something that should never change, like coordinates (10,20) or days of the week.

13. How do sets handle duplicate values in Python?

- They just remove duplicates automatically — only unique values stay.

14. How does the “in” keyword work differently for lists and dictionaries?

- In lists → checks if an element is inside the list.

 In dictionaries → checks if a key is in the dictionary.

15. Can you modify the elements of a tuple? Explain why or why not.
- Nope, because tuples are immutable — once created, they can’t be changed.

16. What is a nested dictionary, and give an example of its use case?
- It’s a dictionary inside another dictionary. Example:

 students = {
    "John": {"age": 16, "grade": "10th"},
    "Sara": {"age": 15, "grade": "9th"}
 }
    Useful for storing data about multiple people.

17. Describe the time complexity of accessing elements in a dictionary.

- It’s usually O(1), meaning very fast — it doesn’t depend on the size of the dictionary.

18. In what situations are lists preferred over dictionaries?

- When you just need an ordered collection of items, like a shopping list, without needing key-value pairs.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

- They don’t store items in a fixed order (before Python 3.7). Retrieval is by keys, not by position.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

- List → get items by index (like myList[0]).

 Dictionary → get items by key (like myDict["name"]).

In [1]:
# 1. Create a string with your name and print it
myName = "Pratham"
print(myName)

Pratham

In [2]:
# 2. Find the length of the string "Hello World"
txt = "Hello World"
print(len(txt))

11

In [3]:
# 3. Slice the first 3 characters from "Python Programming"
st = "Python Programming"
print(st[:3])

Pyt

In [4]:
# 4. Convert "hello" to uppercase
word = "hello"
print(word.upper())

HELLO

In [5]:
# 5. Replace "apple" with "orange" in "I like apple"
st = "I like apple"
print(st.replace("apple", "orange"))

I like orange

In [6]:
# 6. Create a list with numbers 1 to 5 and print it
nums = [1, 2, 3, 4, 5]
print(nums)

[1, 2, 3, 4, 5]

In [7]:
# 7. Append number 10 to the list [1, 2, 3, 4]
nums = [1, 2, 3, 4]
nums.append(10)
print(nums)

[1, 2, 3, 4, 10]

In [8]:
# 8. Remove number 3 from the list [1, 2, 3, 4, 5]
nums = [1, 2, 3, 4, 5]
nums.remove(3)
print(nums)

[1, 2, 4, 5]

In [9]:
# 9. Access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [10]:
# 10. Reverse the list [10, 20, 30, 40, 50]
nums = [10, 20, 30, 40, 50]
nums.reverse()
print(nums)

[50, 40, 30, 20, 10]

In [11]:
# 11. Create a tuple with elements 100, 200, 300 and print it
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

In [12]:
# 12. Access the second-to-last element of ('red','green','blue','yellow')
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [13]:
# 13. Find the minimum number in (10, 20, 5, 15)
tup = (10, 20, 5, 15)
print(min(tup))

5

In [14]:
# 14. Find the index of "cat" in ('dog','cat','rabbit')
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [15]:
# 15. Create a tuple of fruits and check if "kiwi" is in it
fruits = ('apple', 'banana', 'orange')
print("kiwi" in fruits)

False

In [18]:
# 16. Create a set with elements 'a', 'b', 'c' and print it
s = {'a', 'b', 'c'}
print(s)

{'c', 'b', 'a'}

In [17]:
# 17. Clear all elements from the set {1, 2, 3, 4, 5}
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [19]:
# 18. Remove element 4 from the set {1, 2, 3, 4}
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [20]:
# 19. Find the union of two sets {1, 2, 3} and {3, 4, 5}
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

In [21]:
# 20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1.intersection(s2))

{2, 3}

In [22]:
# 21. Create a dictionary with keys "name", "age", "city", and print it
d = {"name": "Alice", "age": 25, "city": "Delhi"}
print(d)

{'name': 'Alice', 'age': 25, 'city': 'Delhi'}

In [23]:
# 22. Add a new key–value pair "country": "USA" to {"name":'John', 'age':25}
d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
# 23. Access the value of key "name" in {'name':'Alice', 'age':30}
d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

In [25]:
# 24. Remove the key "age" from {'name':'Bob', 'age':22, 'city':'New York'}
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')
print(d)

{'name': 'Bob', 'city': 'New York'}

In [26]:
# 25. Check if key "city" exists in {'name':'Alice','city':'Paris'}
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

In [27]:
# 26. Create a list, a tuple, and a dictionary, and print them all
myL = [1, 2, 3]
myT = (4, 5, 6)
myD = {'a': 1, 'b': 2}
print(myL, myT, myD)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [28]:
# 27. Create a list of 5 random numbers (1–100), sort it, and print
import random
myL = random.sample(range(1, 101), 5)
myL.sort()
print(myL)

[1, 10, 25, 86, 89]

In [29]:
# 28. Create a list with strings and print the element at the third index
myL = ["apple", "banana", "cherry", "date", "mango"]
print(myL[3])

date

In [30]:
# 29. Combine two dictionaries into one and print the result
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [31]:
# 30. Convert a list of strings into a set
myL = ["apple", "banana", "apple", "cherry"]
myS = set(myL)
print(myS)

{'cherry', 'apple', 'banana'}